.Orders {
    background-color: #703b09;
    padding: 20px 0;
    border: 3px solid black;
    color: white;
}

.Orders button {
    background-color: white;
    color: black;
    outline: none;
    border: 2px solid black;
    cursor: pointer;
    padding: 5px 40px;
    border-radius: 5px;
    font-weight: bold;

}